* {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow-x: hidden;
    background-color: rgb(17, 24, 39);
}

.container {
    margin: auto;
    padding: 0 16px;
    max-width: 1280px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 1rem;
    background-color: rgb(17, 24, 39);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 75px;
    max-width: 768px;
    width: 100%;
    color: white;
}

header h1 {
    margin-bottom: 1rem;
    font-size: 36px;
    line-height: 40px;
}

header p {
    font-size: 21px;
    line-height: 28px;
    color: rgb(156, 163, 175);
}

section {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.starter, .premium, .enterprise {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border: 1px solid rgb(55, 65, 81);
    border-radius: .5rem;
    max-width: 36rem;
    background-color: rgb(31, 41, 55);
    color: white;
}

.title {
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: 500;
}

.price {
    margin-bottom: 1rem;
    font-size: 49px;
    font-weight: 700;
}

.starter p, .premium p, .enterprise p {
    margin-bottom: .25rem;
    font-size: 16px;
    font-weight: 400;
    color: rgb(156 163 175);
}

.annual-plan {
    display: flex;
    gap: 8px;
}

.annual-plan a {
    color: rgb(59 130 246);
}

a {
    pointer-events: all;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

a:focus {
    pointer-events: none;
}

.começar {
    margin: 32px 0;
    padding: 10px 20px;
    border-radius: .5rem;
    font-size: 14px;
    font-weight: 500;
    width: 323.328px;
    background-color: rgb(75, 85, 99);
    color: white;
}

.começar:hover {
    cursor: pointer;
    background-color: rgb(107, 116, 128);
}

.lists {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: flex;
    align-items: center;
    margin-top: 16px;
    width: 300px;
    gap: 8px;
}

.list svg {
    flex-shrink: 0;
    width: 1.25rem;
    color: rgb(156, 163, 175);
}

.list p {
    text-align: left;
    font-size: 16px;
}

.line {
    text-decoration-line: line-through;
}

#line svg, #line p {
    color: #72777a;
}

.premium {
    border-color: rgb(59 130 246);
}

.premium span {
    margin-bottom: .5rem;
    padding: 4px 12px;
    border-radius: .25rem;
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(30, 82, 195, 0.49);
    color: rgb(147, 197, 253);
}

.premium button {
    background-color: rgb(37 99 235);
}

.premium button:hover {
    background-color: rgb(33, 74, 211);;
}

@media screen and (max-width:1278.99px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .starter, .premium ,.enterprise {
        max-width: 526px !important;
        width: 100%;
    }

    .list {
        white-space: nowrap;
        max-width: 100% !important;
        width: 100%;
    }

    .title {
        margin-bottom: 0.4rem;
        font-size: 26px;
    }
    
    .price {
        margin-bottom: 0.7rem;
    }
    
    .starter p, .premium p, .enterprise p {
        margin-bottom: .25rem;
        font-size: 17px;
    }

    .annual-plan {
        font-size: 17px;
        font-weight: 500;
    }
    
    .começar {
        margin-bottom: 19px;
        width: 100%;
    }
}

@media screen and (max-width: 1022px) {
    .content {
        padding: 3.5rem 0;
    }
}

@media screen and (max-width: 654px) {
    .content {
        padding: 1.5rem 0;
    }

    header h1 {
        margin-bottom: 0.7rem;
        font-size: 31px;
    }
    
    header p {
        font-size: 17px;
        line-height: 25px;
    }
}

@media screen and (max-width: 622px) {
    section {
        padding: 0 1.55rem;
    }
    
    .começar, .list {
        white-space: wrap;
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    section {
        gap: 2.5rem;
    }

    .starter, .premium, .enterprise {
        max-width: 32rem;
    }
}